.fundo{
    background-image: linear-gradient(#CCF1F9, #c4c4c421);
    display: 'flex';
    
}
.titulo{
    padding: 20px;
}
.fontTitulo{
    color: #0D0B6D;
    font-weight: bold;
}


.FabButtonPosistion{
    margin: 10px;
    position: relative;
    text-align: right;
}
