@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

.fundo{
    background-image: linear-gradient(#CCF1F9, #c4c4c438);
    
}
.titulo{
    /* position: absolute;
left: 8%;
right: 8%;
top: 6%; */
bottom: 80.81%;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 44px;
/* or 147% */


/* Dark Blue */

color: #00004C;

}
.fontTitulo{
    color: #0D0B6D;
    font-weight: bold;
   
}

.svg {
     position: absolute;
    bottom:0; 
   
}


.desc{
position: absolute;
left: 8.53%;
right: 7.47%;
top: 10.79%;
bottom: 56.82%;
margin-top: 20vw;
font-family: Archivo;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
/* or 150% */

font-family: 'Archivo Narrow', sans-serif;

/* Strong Blue */

color: #0D0D80;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .btnFim{
      padding-bottom: 150px;
  }