.fundo{
    background-image: linear-gradient(#CCF1F9, #c4c4c421);
    height: 100vh;
    
}

.menino-loiro {
    position: absolute;
    left: 0;
    bottom:0;
}
.fontTitulo{
    position: absolute;
    left:30px;
    right: 8%;
    top: 10%;
    bottom: 89.21%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    /* or 147% */
    padding-left: 8vw;
    
    /* Dark Blue */
    
    color: #00004C;
}

.GroupAroundButton{
    position: absolute;
   
      background: rgba(255, 255, 255, 0);
  }
  .dir{
     
      float: right;
  }

 .logo{
     min-width: 350;
    padding-top:13vw;
    padding-left: 3vw;
    padding-right: 3vw;
}
 

.FabButtonPosistion{
    
  margin-top: -350px;
  margin-left: 50vw;
    position: relative;
  
    
}
